body {
  margin: 0;
}

footer {
  background-color: #589486;
}

header{
  background-color: #907a53;
  color: #f7f0c7;
  text-align: center;
  padding: 30px 0;
}

hr {
  border-style: dotted;
  border-color: #b2c6ca;
  border-width: 3px;
  border-bottom: none;
  width: 5%;
}

/*----------------------------------------------------------------------------*/
